extends layout

block style
  style. 
    .list-group{
      max-height: 50vh;
      margin-top: 10px;
      padding: 0px;
      border: 1px solid rgna(0, 0, 0, 0);
      overflow:scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
    }

    button{
      min-width : 10%;
    }

block content
  h1= title
  p Welcome to #{title}
  hr
  div(class="input-group m-1")
    input(class="form-control" id="room" type="text")    
    button(class="btn btn-outline-secondary" onclick="join()") Join   
  div(class="input-group m-1")
    input(class="form-control" id="usermessage" type="text")
    button(class="btn btn-outline-secondary" onclick="send()") Send
    button(class="btn btn-outline-primary" onclick="public()") public
    button(class="btn btn-outline-secondary" onclick="broadcast()") boradcast
    button(class="btn btn-outline-secondary" onclick="private()") private
  hr
  div(class="input-group m-1")
    input(class="form-control" id="username" type="text")    
    button(class="btn btn-outline-secondary" onclick="setName()") Set Name
    button(class="btn btn-outline-secondary" onclick="getName()") Get Name
  hr 
  div
    ul(id="list-content" class="list-group")  

  block script
    script.    
      var socket = io.connect();

      function public() {
        var message = $("#usermessage").val();

        //- alert(message);

        socket.emit('public', { message: message });
      }

      function broadcast() {
        var message = $("#usermessage").val();

        //- alert(message);

        //- socket.broadcast.emit('public', { message: message });

        socket.emit('broadcast', { message: message });
      }

      function private() {
        var message = $("#usermessage").val();

        //- alert(message);

        //- socket.broadcast.emit('public', { message: message });

        socket.emit('private', { message: message });
      }

      function setName() {
        var username = $("#username").val();

        //- alert(username);

        socket.emit('setname', { username: 'jsh' });
      }

      function getName() {
        var username = $("#username").val();        

        socket.emit('getname');
      }

      function join() {
        var room = $("#room").val();        

        socket.emit('join', room);
      }

      function send() {
        var usermessage = $("#usermessage").val();        

        socket.emit('message', usermessage);
      }

      function show(id){
        alert(id);
      }

      function addMeaage(list) {  
        $('#list-content').empty();

        for (i = 0; i < list.length; i++) {
          var id = "'" + i + "'";
          
          var output = '<div>';
          output += '<p>' + list[i].room + ' ['+ (i + 1) + ']</p>'
          output += '<p>' + list[i].message + '</p>'
          output += '</div>'

          $("#list-content").append('<li class="list-group-item d-flex justify-content-between align-items-center">' + output + '<button type="button" class="btn btn-outline-primary" onclick="show(' + id + ')">' + "SHOW" + '</button>' + '</li>');                    
        }

        var parent = $("#list-content");

        parent.scrollTop(parent.prop("scrollHeight"));
      }

      $(document).ready(function () {
        $("#btnSearch").click(function () {
        });

        socket.on('updateMessage', function (data) {
          alert(data.message);
        });

        socket.on('updateUserName', function (data) {
          alert(data);
        });

        socket.on('message', function (data) {
          addMeaage(data);
        });
      });